@model SiteMonitor.Models.SiteViewModels.EditSiteViewModel

@{
    ViewData["Title"] = Model.Name;
}

<h3>Изменить интервал</h3>

<h4>@Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SiteId" />
            <div class="form-group">
                <label asp-for="CheckOnlineTimespan" class="control-label"></label>
                <input asp-for="CheckOnlineTimespan" class="form-control" />
                <span asp-validation-for="CheckOnlineTimespan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">К списку</a>
</div>

